<html>
<head>
  <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Create account</a></li>
        </ul>
    </nav>
    <h1>Currently Under Construction, press the go button to return to the homepage</h1>
    
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <!--
    
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" required />
        <button type="submit">Login</button>
    </form>
    -->
    <button onclick="location.href='/'">Go Home</button>
</body>
</html>