<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f7f7f9;
            color: #222;
        }

        .container {
            max-width: 900px;
            margin: 24px auto;
            padding: 16px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        

    </style>
    <script>
    </script>
</head>
<body>
    <h1>Create an account</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" required />
        <input type="radio" name="options" id="option1" value=1 required>Admin</input>
        <input type="radio" name="options" id="option2" value=2>Student</input>
        <button type="submit">Sign Up</button>
    </form>

    <div>
      <p>Already have an account? <a href="/login">Login Here</a></p>
    </div>

    <div>
        <button onclick="location.href='/'">Go Home</button>
    </div>
</body>